<title>店铺商家</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>用户</cite></a>
    <a><cite>店铺商家</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">ID</label>
          <div class="layui-input-block">
            <input type="text" name="id" placeholder="请输入id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">店名</label>
          <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入店铺名称" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">联系方式</label>
          <div class="layui-input-block">
            <input type="text" name="phoneNumber" placeholder="请输入联系方式" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-shop-front-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-useradmin" id="myRefresh">
            <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>重置
          </button>
        </div>
      </div>
    </div>

    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
      </div>

      <table id="LAY-shop-manage" lay-filter="LAY-shop-manage"></table>
      <script type="text/html" id="imgTpl">
        <img style="display: inline-block; width: 50%; height: 100%;" src={{ "http://asryc.antony0127.cn/asryc/file-service/" + d.headImg }}>
      </script>

      <script type="text/html" id="table-shop-shop">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
            class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn layui-btn-xs" lay-event="link"><i
            class="layui-icon layui-icon-link"></i>关联</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script>
  layui.use('shop', layui.factory('shop')).use(['admin', 'useradmin', 'table'], function () {
    var $ = layui.$,
      admin = layui.admin,
      view = layui.view,
      table = layui.table,
      form = layui.form;

    form.render(null, 'layadmin-userfront-formlist');

    $("#myRefresh").on('click', function () {
      location.reload()
    })
    //监听搜索
    form.on('submit(LAY-shop-front-search)', function (data) {
      var field = data.field;
      console.log(field)
      if (!field.id && !field.name && !field.phoneNumber) {
        layer.msg("请输入内容")
        return false
      }
      //执行重载
      table.reload('LAY-shop-manage', {
        where: field
      });
    });

    //事件
    var active = {
      batchdel: function () {
        var checkStatus = table.checkStatus('LAY-shop-manage'),
          checkData = checkStatus.data; //得到选中的数据

        if (checkData.length === 0) {
          return layer.msg('请选择数据');
        }

        layer.prompt({
          formType: 0,
          title: '敏感操作，请输入“删除”'
        }, function (value, index) {
          console.log(this)
          console.log(value + index);
          layer.close(index);
          if (value === '删除') {
            layer.confirm('确定删除吗？', function (index) {

              //执行 Ajax 后重载
              /*
              admin.req({
                url: 'xxx'
                //,……
              });
              */
              // table.reload('LAY-shop-manage');
              layer.msg('已删除');
            });
          } else {
            layer.msg('输入错误，删除失败');
          }

        });
      },
      add: function () {
        console.log(456);

        admin.popup({
          title: '添加商家',
          area: ['500px', '500px'],
          id: 'LAY-popup-user-add',
          success: function (layero, index) {
            view(this.id).render('shop/shopform').done(function () {
              form.render(null, 'layuiadmin-form-useradmin');
              //监听提交
              form.on('submit(LAY-admin-shop-submit)', function (data) {
                var field = data.field; //获取提交的字段
                console.log(field)
                $.ajax({
                  url: 'http://asryc.antony0127.cn/asryc/shop-service/admin/shop/save',
                  type: "post",
                  contentType: "application/json",
                  headers: {
                    "api-version": layui.data('layuiAdmin').apiVersion,
                    "Authorization": layui.data('layuiAdmin').token
                  },
                  dataType: "json",
                  data: JSON.stringify(field),
                  success: function (res) {
                    console.log(res)
                    if (res.status == 200) {
                      layer.msg("添加成功", {
                        offset: '15px',
                        icon: 1,
                        time: 1000
                      }, function () {
                        // location.hash = search.redirect ? decodeURIComponent(search.redirect) : '/';
                        layui.table.reload('LAY-shop-manage'); //重载表格
                      });
                    } else {
                      layer.msg(res.desc, {
                        offset: '15px',
                        icon: 0,
                        time: 1000
                      }, function () {
                        // location.hash = search.redirect ? decodeURIComponent(search.redirect) : '/';
                      });
                    }
                  }
                })
                layer.close(index); //执行关闭 
              });
            });
          }
        });
      }
    };

    $('.layui-btn.layuiadmin-btn-useradmin').on('click', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
</script>